.container table,
th,
td {
  border: 1px solid black;
}

.container th {
  font-size: 125%;
}

.propertyItem {
  font-weight: bold;
}

@media screen and (max-width: 648px) {
  .container table {
    margin: 0 auto;
  }
}
